body {
    padding: 0;
    margin: 0;
    font-family: arial;
}


.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #0ea5e9;
    padding: 3%;
    width: 20vw;
    margin: 0;
}

.cardItems {
    display: flex;
    justify-content: end;
}

.card,
.cardInformation {
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}


.card:hover,
.cardInformation:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
}


.containerGrid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 3%;
    row-gap: 1%;
}

.containerGrid>div,
.cardInformation {
    border-radius: 3%;
    padding: 5%;
}



.section1,
.section2 {
    margin-top: 20%;
    color: white;
}


.title {
    color: white;
}

.header {
    height: 20vh;
    padding: 3%;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.searchBar {
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
}

.round {
    width: 40vw;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: lightgray;
}

.corner {
    position: absolute;
    top: 3px;
    left: 5px;
    height: 20px;
    width: 20px;
    z-index: 10;
    border-radius: 10px;
    border: none;
    background: #000;
}

#username {
    cursor: pointer;
    margin-top: 0;
}

.fa-search {
    margin-right: 20px;
    cursor: pointer;
}

#search-form {
    display: flex;
    margin-right: 20px;
}


.button {
    background-color: #0ea5e9;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 80px;
}

.search {
    position: relative;
    height: 30px;
}


img {
    border-radius: 50%;
}

.welcomeTextAndProfilePicture {
    display: flex;
    align-items: center;
}

.welcomeText {
    margin-left: 20px;
}


.greetingAndButtons {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.profileView {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.fa-star-o {
    cursor: pointer;
}

span+span {
    margin-left: 15px;
    cursor: pointer;
}

#cardSection {
    border-bottom: solid gray;
    flex: 1;
    padding: 2%;
    margin-bottom:5%;
}

#cardSection3 {
    flex: 1;
    padding: 2%;
}


.cardContent {
    height: 50%;
}


.dashboard {
    flex-grow: 1;
    margin: 2%;
    margin-bottom: 5%;
}

.main {
    display: flex;
    margin: 0;
}

.mainPage {
    margin: 0%;
}


.containerGridInformation {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    column-gap: 3%;
    row-gap: 1%;
}

.information {
    margin: 2%;
    width: 100%;
}

.cardContentInformation {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
}




.profile {
    display: flex;
    margin-top:5%;
}


p:hover {
    cursor: pointer;
}

.pAnnouncementText {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}